
    body {
      font-family: system-ui;
    }
    
    .rumble-buttons.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    
    a {
      display: block;
      color: inherit;
      position: absolute;
      bottom: calc(0.67em + 8px);
      text-decoration: none;
    }
 